$faqMesh: url("../../Assets/img/faq-mesh.png");

.policies {
    .policies-wrapper {
        position: relative;
        padding: 30px 0 60px;
        .policies-title {
            h1 {
                text-align: left;
                font-family: Platform;
                font-weight: bold;
                font-size: 38px;
                line-height: 46px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                margin-bottom: 26px;
                padding: 0 15px;
            }
        }

        .policies-card {
            box-shadow: 0px 1px 3px rgb(0 0 0 / 30%);
            .nav-tabs {
                display: flex;
                justify-content: space-around;
                border: 4px solid #e8e1e3;
                .tab {
                    padding: 10px 15px;
                    cursor: pointer;
                    transition: all 0.3s linear;
                    width: 100%;
                }

                .active {
                    background-color: #000;
                    color: #fff;
                }
            }

            .tab-content {
                text-align: left;
                padding: 20px 0;
                .tab-panes {
                    padding: 15px 0;
                    display: none;
                    h2 {
                        font-family: Platform;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 34px;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                        border-bottom: 0;
                        color: #000000;
                        padding-left: 10px;
                    }

                    h3 {
                        padding-left: 15px;
                        font-family: Platform;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 32px;
                        letter-spacing: 0.04em;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                        border-bottom: 0;
                        color: #000000;
                    }

                    p {
                        padding-left: 20px;
                        font-family: Milliard;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        color: #000;
                        margin-bottom: 20px;
                    }

                    .scrollable-wrapper {
                        max-width: 95%;
                        margin: 0 auto;
                        margin-bottom: 30px;
                    }

                    ul {
                        padding-left: 40px;
                        margin-bottom: 20px;
                        li {
                            list-style: disc;
                            padding: 5px 0;
                            font-family: Milliard;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }

                    a {
                        color: #007bff;
                        border-bottom: 1px solid #007bff;
                        transition: all 0.3s linear;

                        &:hover {
                            color: #0056b3;
                            border-bottom: 1px solid #0056b3;
                        }
                    }
                }
                .active {
                    display: block;
                }
            }
        }

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            right: 40px;
            background: $faqMesh top center / cover no-repeat;
            width: 160px;
            height: 233px;
            z-index: -1;
        }
    }
}
