.merch-manager {
    .w100 {
        width: 100%;
        span {
            display: block !important;
        }
        div {
            width: 100% !important;

        }
        input {
            width: 100% !important;
        }
        margin-bottom: 10px;
    }
}
