.page-404 {
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    .empty-page-content {
        padding: 30px 0;

        h1 {
            font-size: 20rem;
        }

        h2 {
            font-family: Milliard;
            font-size: 4rem;
            margin-bottom: 20px;
            font-weight: 500;
        }

        .description {
            font-family: Milliard;
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 3.2rem;
            color: #000;
            margin-bottom: 50px;
        }

        a {
            display: block;
            width: 300px;
            line-height: 5rem;
            margin: 0 auto;
            border: 3px solid #000;
        }
    }
}

@media (max-width: 1023px) {
    .page-404 {
        .empty-page-content {
            h1 {
                font-size: 10rem;
            }

            h2 {
                font-size: 2.5rem;
            }

            .description {
                font-size: 1.4rem;
                margin-bottom: 40px;
            }
            
            a {
                width: 90%;
                max-width: 300px;
            }
        }
    }
}
